<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AddMedicoServlet</servlet-name>
        <servlet-class>sacome.servlets.AddMedicoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GravarMedicoServlet</servlet-name>
        <servlet-class>sacome.servlets.GravarMedicoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddPacienteServlet</servlet-name>
        <servlet-class>sacome.servlets.AddPacienteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GravarPacienteServlet</servlet-name>
        <servlet-class>sacome.servlets.GravarPacienteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerMedicosServlet</servlet-name>
        <servlet-class>sacome.servlets.VerMedicosServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLoginServlet</servlet-name>
        <servlet-class>sacome.servlets.AdminLoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddMedicoServlet</servlet-name>
        <url-pattern>/AddMedicoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GravarMedicoServlet</servlet-name>
        <url-pattern>/GravarMedicoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPacienteServlet</servlet-name>
        <url-pattern>/AddPacienteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GravarPacienteServlet</servlet-name>
        <url-pattern>/GravarPacienteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerMedicosServlet</servlet-name>
        <url-pattern>/VerMedicosServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLoginServlet</servlet-name>
        <url-pattern>/AdminLoginServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
