* {
    box-sizing: border-box;
}

body {
    text-align: center;
    padding-top: 10px;
    background: #daf2fd;
}

body>div, body>a {
    width: 300px;
    margin: 10px auto;
    display: block;
    background: #00aaee;
    border-radius: 5px;
}

body>span {
    margin-bottom: 25px;
}

a.bbt {
    text-decoration: none;
    padding: 5px 6px;
}

body>div {
    padding: 7px;
}

form>input {
    display: block;
    margin: 5px auto;
    width: 90%;
}

form>input[type="text"], form>input[type="password"] {
    background: #fff;
    border: 1px solid #015eb0;
    height: 30px;
}

form>input[type="submit"] {
    color: #fff;
    background: #015eb0;
    height: 30px;
    border: 0;
    cursor: pointer;
}